<launch>

	<!-- Start Gazebo Simulation -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find yeti_snowplow)/srv/single-I_with_snow.sdf"/> 
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="recording" value="false"/>
    <arg name="debug" value="false"/>
  </include>

	<!-- <node pkg="zenith_localization" name="zenith_localization" type="zenith_localizer"></node>
	<node pkg="pose_publisher" name="pose_publisher" type="pose_publisher_node"></node>

	<include file="$(find yeti_snowplow)/launch/zed.launch">
		<arg name="publish_map_tf" value="false" />
		<arg name="base_frame" value="base_link" />
	</include>

	<node pkg="tf" type="static_transform_publisher" name="static_transform_publisher_zed" args="0 0 0 0 0 0 base_link zed_camera_center 10" />
	<node pkg="tf" type="static_transform_publisher" name="static_transform_publisher_sick_laser_link" args="0 0 0 0 0 0 base_link sick_laser_link 10" />

	<node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
		<param name="map_update_interval" value="2.0" />
	</node> -->

</launch>
